body{
    background-color: #111822;
}
input[type="button"]{
    height:60px;
    width: 300px;
    border-radius: 90mm;
    font: bold 30px arial, sans-serif;
    color: #f8b4c3;
    margin: 15px;
    box-shadow: 4px 4px 0px #d491a0;
}
div#voltar{
    text-align: center;
}
div#logo{
    text-align: center;
}

img {
    width: 50%;
    }

div.container{
    text-align: center;
}

div#post{
    text-align: center;
    margin: 50px;
}
img#promo1{
    width: 300px;
}

footer#rodape{
    text-align:justify;
    color: seashell;
    margin: 50px;
}
footer#rodape2{
    text-align:center;
    color: seashell;
    margin: 50px;
}