body{
    background-color: #111822;
}
input{
    height:60px;
    width: 300px;
    border-radius: 90mm;
    font: bold 30px arial, sans-serif;
    color: #f8b4c3;
    margin: 15px;
    box-shadow: #d491a0 4px 4px 0px;
}
div#voltar{
    text-align: center;
}
div#logo{
    text-align: center;
}

img {
    width: 50%;
    }

div#botoes{
    text-align: center;
}

div#post{
    text-align: center;
    margin: 50px;
    width: 300px;
}

footer{
    text-align: center;
    color: seashell;
    margin: 50px;

}